.checkout-container {
  display: flex;
  padding-top: 20px;
  padding-right: 16px;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .checkout-container {
    flex-direction: column;
    padding: 20px 16px;
  }

  .stepper-container {
    width: 100%;
    padding: 0px;
  }
}

@media (min-width: 670px) and (max-width: 1200px) {
  .stepper-container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .stepper-container {
    width: 74%;
  }
}
